# Streamlit secrets (nunca subir a GitHub)
.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Env files
.env
.env.*
!.env.example

# Logs
*.log

# DB local
poc_mice/mice_poc.db

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
